/*global*/
h1, h2 {font-weight:100;}

label {font-weight:400;}

body {
  background: aliceblue;
}

/*nav bar*/

nav {
  border: solid 2px;
  text-align: center;
  padding: 10px 0;
  background: powderblue;
}

nav h1 {
  margin: 0;
}


nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li a { color:#665095; cursor: pointer; }



/*left and right boxes*/

.left, .right {
  width: 45%;
  margin: 0 2.5%;
  float: left;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

/*journal*/

.journal {
  display: block;
  width: 100%;

}

.message {
  width: 100%;
}

/*24 hour itinerary*/

table.table {
  margin-bottom: 0;
}

table.table input{
  width: 90%
}

table.table caption {
  text-align: center;
  background: #f9f9f9;
  font-size: 22px;
}

table.table .ng-binding {
  font-weight: 400;
  background: #fff8f8;
  text-align: center;
}

.tableButtons {
  background: #f9f9f9;
  padding: 20px;
}



.table-striped > tbody > tr:nth-of-type(even) {
  background: #fff8f8;
}

/*Google Map API*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 300px;
  width: 100%;
  border: solid 2px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}



/*date picker*/
.date {
  display: inline-block;
  float: right;
}

.date-picker {margin-bottom:30px;}


/*scroll*/
  .scroll {height:450px;width:100%;margin:0 auto; border:1px solid #000; overflow:auto;}
  .scroll::-webkit-scrollbar {
    width: 1em;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


@media screen and ( max-width: 850px ) {

  .left, .right {width:100%; clear:both;}
}
